<%
meta :title => "Контактная информация интернет магазина qi-zaryadka.com.ua. Онлайн магазин qi зарядок для мобильных телефонов qi-zaryadka.com.ua",
:description => "Контакты и данные по оплате в интернет магазине qi-zaryadka.com.ua."
%>
<div class="wrapper" style="opacity: 1;">
               <header class="shop-header">
                   
               </header>
               <section class="stockists legal">
                   <div class="container">
                       <div class="row-fluid">
                           <div class="span4">
                               <h3>Контактная информация</h3>
                               <h6>Валерий Разин</h6>
                               
                           </div>
                           <div class="span8">
                           	<a href="http://vk.com/valeriy_razin" target="_blank">
                           		<h6>Социальные сети</h6>
                            <p>ВКонтакте
                            <i class="fa fa-vk"></i>
                            </p>
                            </a> 
                            <h6>Телефон</h6>
                            <p>
                            <i class="fa fa-tablet"></i>
                            +38(066) 860-90-14
                            </p>    
                            <p>    
                            <i class="fa fa-tablet"></i>
                                +38(098) 335-29-11
                            </p>    
                            </div>
                        </div>
                    </div>
                            <div class="container">
                       <div class="row-fluid">
                             <div class="span4">
                               <h3>Способы оплаты</h3>
                                                              
                           </div>
                           <div class="span8">
                           	<h6>Webmoney (UAH)</h6>
                            <p>
                            	<i class="fa fa-money"></i>
                            U132349720523
                            
                            </p>
                            <h6>Webmoney (RUB)</h6>
                            <p>
                            	<i class="fa fa-money"></i>
                            R368293964855
                            
                            </p>
                            <h6> 
                            Карта Приватбанка</h6>	
                             <p><i class="fa fa-credit-card"></i>
                            4149 4377 2014 5778
                            </p>    
                               
                            </div>
                       </div>
                       <!--/.row-fluid-->
                   </div>
                   <!--/.container-->
               </section>
           </div>
           <!--/.wrapper-->	
