<%
meta :title => "FAQs Часто задаваемые вопросы при оформление покупки в qi-zaryadka.com.ua. Онлайн магазин qi зарядок для мобильных телефонов qi-zaryadka.com.ua",
:description => "Вопросы про доставку, оплату и оформление заказа в интернет магазине qi-zaryadka.com.ua."
%>
<div class="wrapper" style="opacity: 1;">
               <header class="shop-header">
                   
               </header>
               <section class="stockists legal">
                   <div class="container">
                       <div class="row-fluid">
                           <div class="span4">
                               <h3>FAQs</h3>
                               <h6>Cписок наших наиболее часто задаваемых вопросов</h6>
                           </div>
                           <div class="span8">
                               <h6>Что такое беспроводная зарядка?</h6>
                               <p>Беспроводная зарядка - это инновация в мире мобильных телефонов.
Беспроводная зарядка освободит Ваш телефон от нужды использовать провод для подзарядки.</p>
                               <h6>Что нужно для того, чтобы заряжать
телефон без провода?</h6>
                               <p>Всё, что Вам нужно, это иметь телефон со встроенным ресивером и передатчик заряда.
Некоторые производители, например такие как Nokia и LG выпускают телефоны с встроенным ресивером прямо с завода. Поэтому, нет нужды покупать ресивер. Достаточно приобрести передатчик заряда.
Но другие производители, пока не сделали шаг вперёд, навстречу инновациям. И для этих производителей (Apple, Samsung) было разработано решение - встраиваемый ресивер.</p>
                               <h6>Как установить ресивер в iPhone?</h6>
                               <p>Это просто! Не нужно ломать и разбирать телефон. Для iPhone есть два вида ресивера: чехол-ресивер и ресивер без чехла.
Чехол-ресивер достаточно просто одеть на Ваш iPhone и положить на передатчик заряда.
Если на Вашем телефоне уже есть какой-либо чехол и Вы не хотите с ним расставаться, то Вам поможет ресивер, который Вы можете спрятать под чехол, соединив "хвостик" с разъёмом для подзарядки.</p>
                               <h6>Как установить ресивер в Samsung?</h6>
                               <p>С телефонами компании Samsung, всё гораздо проще. Необходимо снять крышку телефона, установить ресивер,
закрыть крышку, положить телефон на передатчик заряда.</p> 
                                  
                           </div>
                       </div>
                       <!--/.row-fluid-->
                   </div>
                   <!--/.container-->
               </section>
           </div>
           <!--/.wrapper-->