<%
meta :title => "qi-zaryadka.com.ua - Интернет-магазин qi зарядок для мобильных телефонов. Онлайн магазин qi зарядки",
     :description => "qi-zaryadka.com.ua - Интернет-магазин qi зарядок для мобильных телефонов. Qi зарядки для Iphone 4S, iPhone 5, 5C, 5S, Samsung Galaxy S4, S5, Samsung Note 1, 2, Nokia Lumia. Автономный qi зарядки с встроенным аккумулятором"
%>
<div class="wrapper" style="opacity: 1;">
               <header class="page-header">
                    <%= tag("figure", class: "responsive", data: {media240: "#{image_path "headers/_small/header1.jpg"}", media481: "#{image_path "headers/_medium/header1.jpg"}", media769: "#{image_path "headers/_large/header1.jpg"}", media1025: "#{image_path "headers/header1.jpg"}", title: "Qi зарядка для мобильных телефонов"}) %>
    		        <%= image_tag "headers/header1.jpg", alt: "Qi зарядка для мобильных телефонов" %>
                   </figure>
                   <hgroup>
                       <h2>Беспроводные зарядки для телефонов</h2>
                       <div class="span12">
                           <ul class="inline">
                               <li>
                                  <i class="fa fa-hdd-o fa-2x"></i>
                                  <p>Встроенная батарея</p>
                               </li>
                               <li>
                                  <i class="fa fa-bolt fa-2x"></i>
                                  <p>Свобода от проводов</p>
                               </li>
                          </ul>
                       </div>
                   </hgroup>
               </header>
            <section class="lower-content">
                   <div class="container">
                       <header class="row-fluid">
                           <h3>QI Зарядки</h3>
                       </header>
                       <!--/.row-fluid-->
                       <div class="row-fluid">
                           <div class="span4 product">
                                 <figure class="responsive" data-media240="images/products/_small/power4.jpg" data-media321="images/products/_medium/power4.jpg" data-media481="images/products/_large/power4.jpg" data-media769="images/products/_small/power4.jpg" data-title="Qi зарядка Power">
                                       <figcaption>
                                           <h5>Power
                                               <br>
                                               <span>599 грн</span>
                                           </h5>
                                       </figcaption>
                                       <img src="images/products/_small/power4.jpg" />
                                   </figure>
                               <div class="form-actions">
				   <input id="add_to_cart_button" type="submit" name="submit" value="Купить" class="btn btn-primary">
                                </div>
                           </div>
                           <div class="span4 product">
                                  <figure class="responsive" data-media240="images/products/_small/aire_4.jpg" data-media321="images/products/_medium/aire_4.jpg" data-media481="images/products/_large/aire_4.jpg" data-media769="images/products/_small/aire_4.jpg" data-title="Marinue">
                                       <figcaption>
                                           <h5>AIRE
                                               <br>
                                               <span>399 грн</span>
                                           </h5>
                                       </figcaption>
                                       <img src="images/products/_small/aire_4.jpg" />
                                   </figure>
                                <div class="form-actions">
				   <input id="add_to_cart_button" type="submit" name="submit" value="Купить" class="btn btn-primary">
                                </div>
                           </div>
                           <div class="span4 product">
                                  <figure class="responsive" data-media240="images/products/_small/small_12.jpg" data-media321="images/products/_medium/small_12.jpg" data-media481="images/products/_large/small_12.jpg" data-media769="images/products/_small/small_12.jpg" data-title="Ruben">
                                       <figcaption>
                                           <h5>Small
                                               <br>
                                               <span>399 грн</span>
                                           </h5>
                                       </figcaption>
                                       <img src="images/products/_small/small_12.jpg" />
                                   </figure>
                                <div class="form-actions">
				   <input id="add_to_cart_button" type="submit" name="submit" value="Купить" class="btn btn-primary">
                                </div>
                           </div>
                       </div>
                   </div> 
            </section>
            <section class="text-content white">
                   <div class="container">
                        <div class="row-fluid noborder">
                           <div class="span12">
                               <h4>
                                   Данные QI зарядки подходят для следующих моделей телефонов
                               </h4>
                           </div>
                            <div class="span6">
                               <article class="copy">
                                   <h3>Требуеться ресивер:</h3>
                                   <ul>
                                       <li>Apple IPhone 4, 4S, 5, 5С, 5S,</li>
                                       <li>Samsung Galaxy S3, S4,</li>
                                       <li>Samsung Galaxy Note 2, Note 3</li>                                 
                                   </ul>
                               </article>
                           </div>
                           <div class="span6">
                               <article class="copy">
                                   <h3>Не требуеться ресивер</h3>
                                   <ul>
                                       <li>Nokia Lumia 720, 920, 925, 1020,</li>
                                       <li>LG Nexus 4, Nexus 5, Optimus G,</li>
                                       <li>Sharp, Sony</li>
                                   </ul>
                               </article>
                           </div>
                       </div>
                   </div>
            </section>
            <section id="bespoke" class="bespoke-content">
                   <div class="container">
                       <header class="row-fluid noborder">
                           <h3>
                               Удобно и просто
                           </h3>
                       </header>
                       <!--/.row-fluid-->
                       <div class="row-fluid noborder">
                           <div class="span6">
                               <h2>Свобода от проводов</h2>
                               <h5>
                                   Данная платформа имеет встроенную батарею и способна зарядить Ваш телефон до 6 раз,
                                   всё что вам нужно – это просто положить Ваш телефон на платформу и навсегда забыть о проводах!
                               </h5>
                               <h2>Возьми с собой</h2>
                               <h5>
                                   Вес данной платформы не превышает вес iPhone 5, Вы всегда можете взять его с собой и 
                                   Вас больше не потревожит низкий заряд батареи! Вы сможете заряжать телефон в любом удобном для вас месте.
                               </h5>
                            </div>
                       </div>
                       <!--/.row-fluid-->
                   </div>
                   <!--/.conteiner-->
               </section>
               <!--/.bespoke-content-->
               <section class="lower-content">
                   <div class="container">
                      <div class="row-fluid">
                          <header class="row-fluid">
                           <h3>Ресиверы</h3>
                           </header>
                           <div class="span4 product">
                                 <figure class="responsive" data-media240="images/products/_small/receiver_iphone5_10.jpg" data-media321="images/products/_medium/receiver_iphone5_10.jpg" data-media481="images/products/_large/receiver_iphone5_10.jpg" data-media769="images/products/_small/receiver_iphone5_10.jpg" data-title="Ресивер для Iphoone">
                                       <figcaption>
                                           <h5>Чехол для Iphone
                                               <br>
                                               <span>250 грн</span>
                                           </h5>
                                           <ul>
                                               <li>Iphone 4, 4S </li>
                                               <li>Iphone 5, 5C, 5S</li>
                                           </ul>
                                       </figcaption>
                                       <img src="images/products/_small/receiver_iphone5_10.jpg" />
                                   </figure>
                               <div class="form-actions">
				   <input id="add_to_cart_button" type="submit" name="submit" value="Купить" class="btn btn-primary">
                                </div>
                           </div>
                           <div class="span4 product">
                                  <figure class="responsive" data-media240="images/products/_small/receivergs5_2.jpg" data-media321="images/products/_medium/receivergs5_2.jpg" data-media481="images/products/_large/receivergs5_2.jpg" data-media769="images/products/_small/receivergs5_2.jpg" data-title="Ресивер для Samsung">
                                       <figcaption>
                                           <h5>Для Samsung
                                               <br>
                                               <span>150 грн</span>
                                           </h5>
                                           <ul>
                                               <li>Galaxy S3, S4, S5</li>
                                               <li>Galaxy Note 2, 3</li>
                                           </ul>
                                       </figcaption>
                                       <img src="images/products/_small/receivergs5_2.jpg" />
                                   </figure>
                                <div class="form-actions">
				   <input id="add_to_cart_button" type="submit" name="submit" value="Купить" class="btn btn-primary">
                                </div>
                           </div>
                           <div class="span4 product">
                                  <figure class="responsive" data-media240="images/products/_small/receiver_iphone5_12.jpg" data-media321="images/products/_medium/receiver_iphone5_12.jpg" data-media481="images/products/_large/receiver_iphone5_12.jpg" data-media769="images/products/_small/receiver_iphone5_12.jpg" data-title="Ресивер для Iphone 5">
                                       <figcaption>
                                           <h5>Для Apple
                                               <br>
                                               <span>150 грн.</span>
                                           </h5>
                                           <ul>
                                               <li>Iphone 4, 4S </li>
                                               <li>Iphone 5, 5C, 5S</li>
                                           </ul>
                                       </figcaption>
                                       <img src="images/products/_small/receiver_iphone5_12.jpg" />
                                   </figure>
                                <div class="form-actions">
				   <input id="add_to_cart_button" type="submit" name="submit" value="Купить" class="btn btn-primary">
                                </div>
                           </div>
                       </div>
                   </div>
               </section>   
               <section id="bespoke" class="bespoke-content two">
                   <div class="container">
                       <header class="row-fluid noborder">
                           <h3 class="white">
                               Лучший подарок
                           </h3>
                       </header>
                       <!--/.row-fluid-->
                       <div class="row-fluid noborder">
                           <div class="span6">
                               <h2 class="white">Дарите радость</h2>
                               <h5 class="white">
                                   Не знаете, что подарить на очередной праздник? Подарите беспроводную зарядку. Специально для Вас, 
                                   мы сделали несколько ярких цветовых решений. Ваш подарок будет приносить РАДОСТЬ и Ваши друзья всегда будут на связи!
                               </h5>
                               <h2 class="white">Qi стандарт</h2>
                               <h5 class="white">
                                   Стандарт Qi 1.1 поддерживает обнаружение посторонних
                                   объектов в поле действия зарядного устройства. Зарядка возможна только с Qi-совместимыми устройствами.
                               </h5>
                            </div>
                       </div>
                       <!--/.row-fluid-->
                   </div>
                   <!--/.conteiner-->
               </section>
               <!--/.bespoke-content-->
               <section class="lower-content">
                   <div class="container">
                      <div class="row-fluid">
                          <header class="row-fluid">
                           <h3>Акция</h3>
                           </header>
                           <div class="span3 product">
                                 <figure class="responsive" data-media240="images/products/_small/power_receiver_iphone.jpg" data-media321="images/products/_medium/power_receiver_iphone.jpg" data-media481="images/products/_large/power_receiver_iphone.jpg" data-media769="images/products/_small/power_receiver_iphone.jpg" data-title="Qi зарядка Power и чехол ресивер для Iphone">
                                       <figcaption>
                                           <h5>Комплект зарядка POWER + чехол ресивер на Iphone
                                               <br>
                                               <span>799 грн</span>
                                           </h5>

                                       </figcaption>
                                       <img src="images/products/_small/power_receiver_iphone.jpg" />
                                   </figure>
                               <div class="form-actions">
				   <input id="add_to_cart_button" type="submit" name="submit" value="Купить" class="btn btn-primary">
                                </div>
                           </div>
                           <div class="span3 product">
                                  <figure class="responsive" data-media240="images/products/_small/aire_receiver_iphone.jpg" data-media321="images/products/_medium/aire_receiver_iphone.jpg" data-media481="images/products/_large/aire_receiver_iphone.jpg" data-media769="images/products/_small/aire_receiver_iphone.jpg" data-title="Qi зарядка Aire и чехол ресивер для Iphone">
                                       <figcaption>
                                           <h5>Комплект Зарядка AIRE или SMALL + чехол ресивер на Iphone
                                               <br>
                                               <span>550 грн</span>
                                           </h5>
           
                                       </figcaption>
                                       <img src="images/products/_small/aire_receiver_iphone.jpg" />
                                   </figure>
                                <div class="form-actions">
				   <input id="add_to_cart_button" type="submit" name="submit" value="Купить" class="btn btn-primary">
                                </div>
                           </div>
                           <div class="span3 product">
                                  <figure class="responsive" data-media240="images/products/_small/power_receiver_samsung.jpg" data-media321="images/products/_medium/power_receiver_samsung.jpg" data-media481="images/products/_large/power_receiver_samsung.jpg" data-media769="images/products/_small/power_receiver_samsung.jpg" data-title="Qi зарядка Power и ресивер для Samsung">
                                       <figcaption>
                                           <h5>Комплект зарядка POWER + ресивер на Samsung
                                               <br>
                                               <span>699 грн</span>
                                           </h5>
                                           
                                       </figcaption>
                                       <img src="images/products/_small/power_receiver_samsung.jpg" />
                                   </figure>
                                <div class="form-actions">
				   <input id="add_to_cart_button" type="submit" name="submit" value="Купить" class="btn btn-primary">
                                </div>
                           </div>
                          <div class="span3 product">
                                  <figure class="responsive" data-media240="images/products/_small/aire_receiver_samsung.jpg" data-media321="images/products/_medium/aire_receiver_samsung.jpg" data-media481="images/products/_large/aire_receiver_samsung.jpg" data-media769="images/products/_small/aire_receiver_samsung.jpg" data-title="Qi зарядка Aire и ресивер для Samsung">
                                       <figcaption>
                                           <h5>Комплект Зарядка AIRE или SMALL + ресивер на Samsung
                                               <br>
                                               <span>499 грн</span>
                                           </h5>
                                           
                                       </figcaption>
                                       <img src="images/products/_small/aire_receiver_samsung.jpg" />
                                   </figure>
                                <div class="form-actions">
				   <input id="add_to_cart_button" type="submit" name="submit" value="Купить" class="btn btn-primary">
                                </div>
                           </div>
                       </div>
                   </div>
               </section>
               <section id="bespoke" class="text-content white">
                   <div class="container">
                       <header class="row-fluid noborder">
                           <h3>
                               Почему лучше заказать у нас?
                           </h3>
                       </header>
                       <!--/.row-fluid-->
                       <div class="row-fluid noborder">
                           <div class="span6">
                               <i class="fa fa-retweet fa-4x"></i>
                               <h2>Гарантия</h2>
                               <h5>
                                   При выявлении неполадок в процессе
эксплуатаци                        мы осуществляем замену.
                               </h5>
                               <div>
                                   <i class="fa fa-truck fa-4x"></i>
                                   <h2>Бесплатная доставка</h2>
                               
                               <h5>
                                   Специально для Вас при заказе комплекта
по акции мы                        осуществляем бесплатную доставку по Украине.
                               </h5>
                               </div>
                               
                            </div>
                           <div class="span6">
                               <i class="fa fa-money fa-4x"></i>
                               <h2>Оплата после проверки</h2>
                               <h5>
                                   Перед тем, как отдать деньги, Вы 
                                   имеете право проверить товар на месте.
                               </h5>
                               <i class="fa fa-warning fa-4x"></i>
                               <h2>Безопасно</h2>
                               <h5>
                                   Для Вашего спокойствия наша продукция
прошла добровольную сертификацию.
                               </h5>
                            </div>
                           
                       </div>
                       <!--/.row-fluid-->
                       <footer class="row-fluid">
                           
                               
                           <div class="span4">
                               <a href="http://www.pinterest.com/qizaryadkiAdmin/" target="_blank">
                               <i class="fa fa-pinterest fa-4x"></i>
                               </a>
                           </div> 
                           <div class="span4">
                               <a href="http://www.youtube.com/playlist?list=PLIzvYQsgRGe_WLiT3UPb6YfzXWywvFf9q" target="_blank">
                               <i class="fa fa-youtube fa-4x"></i>
                               </a>
                           </div>
                           <div class="span4">
                               <a href="http://vk.com/public72499614" target="_blank">
                               <i class="fa fa-vk fa-4x"></i>
                               </a>
                           </div>
                       </footer>
                   </div>
                   <!--/.conteiner-->
               </section>
               <!--/.bespoke-content-->
        </div>
        <!--/.wrapper--> 