<footer class="footer">
               <div class="container">
                   <div class="row-fluid">
                       <div class="span8">
                           <ul class="inline">
                               <li>@ QiZaryadki</li>
                               <li>
                                   <a href="contact/">Контакты</a>
                               </li>
                               <li>
                                   <%= link_to "Контакты", contact_path %>
                               </li>
                               <li>
                                   Site by
                                   <a href="#">LWD</a>
                               </li>
                           </ul>
                       </div>
                       <div class="span4 pull-right">
                           <ul class="inline">
                              <li>
                                   <a href="http://www.pinterest.com/qizaryadkiAdmin/" target="_blank">
                                       <i class="fa fa-pinterest-square fa-3x"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="http://vk.com/public72499614" target="_blank">
                                       <i class="fa fa-vk fa-3x"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="http://www.youtube.com/playlist?list=PLIzvYQsgRGe_WLiT3UPb6YfzXWywvFf9q" target="_blank">
                                       <i class="fa fa-youtube-square fa-3x"></i>
                                   </a>
                               </li>
                           </ul>
                       </div>
                       <!--/.span4-->
                   </div>
                   <!--/.row-fluid-->
               </div>
               <!--/.container-->
            
        </footer>