<div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="/" class="brand">
                    <img src="img/logo2x.png" width="230" height="67" alt="Struzzo Logo" class="pull-left visible-tablet visible-desktop" />
                    </a>
                    <ul class=" nav pull-right">
                        <li id="nav_cart" class="cart">
                            <%= link_to contact_path do %>
                            <i class="fa fa-tablet"></i>
                            +38(066) 860-90-14
                                
                            <% end %>    
                        </li>
                        <li id="nav_cart" class="cart">
                            <%= link_to contact_path do %>
                                <i class="fa fa-tablet"></i>
                                +38(098) 335-29-11
                            <% end %>    
                            
                        </li>
                    </ul>
                </div>
            </div>   
        </div>
        <!--/.navbar-->