<div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="/" class="brand">
                    <img src="img/logo2x.png" width="230" height="67" alt="Struzzo Logo" class="pull-left visible-tablet visible-desktop" />
                    </a>
                    <ul class=" nav pull-right">
                        <li id="nav_cart" class="cart">
                            <%= link_to "+38(066) 860-90-14", contact_path %>
                                <i class="fa fa-tablet"></i>
                        </li>
                        <li id="nav_cart" class="cart">
                            <%= link_to "+38(098) 335-29-11", contact_path %>
                                <i class="fa fa-tablet"></i>
                                
                            
                        </li>
                    </ul>
                </div>
            </div>   
        </div>
        <!--/.navbar-->